$accentColor = #27B7B7

// general

a
  font-weight: 400 !important

body
  font-size 18px !important
  color #22292F !important

.content:not(.custom) > h2
  padding-top 6.6rem !important
  padding-bottom 1rem

p, ul, ol
  line-height 1.5 !important
  margin-bottom 1.4rem

ul
  margin-top -0.75rem

li
  margin 0.25rem 0

h4
  margin-bottom -1rem !important

.content:not(.custom)
  max-width 800px !important

.home .hero .action-button
  // border-radius 0
  border-radius 50px
  padding 12px 40px
  border-bottom none

.home .hero .action-button:hover
  background-color #2C3E50

tr:nth-child(2n)
  background-color transparent !important

// custom blocks

.custom-block.tip
  border-color $accentColor
  border-width 0.2rem
  padding 0rem 1rem
  margin 2rem 0
  background-color transparent
  p
    margin-top 0.75rem
  // font-size 16px
  // max-width 600px

// .custom-block .custom-block-title
//   text-transform: uppercase

.video

.afterh2
  margin 12px 0 12px

// custom

iframe .embed-nav
  box-shadow none

.jsfiddle-link
  text-align right
  font-size 14px
  margin-top -4px

.ghost-button
  display inline-block
  border 1px solid #27b7b7
  padding 8px 16px
  border-radius 3px
  margin-top 4px

.ghost-button:hover
  text-decoration none !important
  background-color #F8FDFC

.content code
  font-size 1rem
  padding 0
  color #697886
  background-color transparent


// code blocks

div.language-js.extra-class, div.language-html.extra-class, div.language-vue.extra-class, div.language-css.extra-class
  // background-color #F1F5F8
  background-color #ffffff
  border-left 1px solid #e0e0e0
  border-radius 0

div[class*="language-"] .highlight-lines .highlighted
  background-color: #e5e9ec

.content pre.language-js code, .content pre.language-html code, .content pre.language-vue code, .content pre.language-css code
  color #000

.token.punctuation
  color #AAA

.token.boolean, .token.number, .token.function
  color #30AAAA

.token.tag, .token.attr-name, .token.namespace, .token.deleted
  color #8795A1

.token.string, .token.char, .token.attr-value, .token.regex, .token.variable
  color #30AAAA

.token.selector, .token.important, .token.atrule, .token.keyword, .token.builtin
  color #30AAAA

.token.operator, .token.entity, .token.url
  color #30AAAA

div[class*="language-"]::before
  color #CCC

.token.property, .token.class-name, .token.constant, .token.symbol
  color #ea7b11