$accentColor = #2AC5C5

div.language-js.extra-class, div.language-html.extra-class, div.language-vue.extra-class
  background-color #f3f5f7

div[class*="language-"] .highlight-lines .highlighted
  background-color: #e5e9ec

.content pre.language-js code, .content pre.language-html code, .content pre.language-vue code
  color #000

.token.punctuation
  color #AAA

.token.boolean, .token.number, .token.function
  color #30AAAA

.token.tag, .token.attr-name, .token.namespace, .token.deleted
  color #97a5a5

.token.string, .token.char, .token.attr-value, .token.regex, .token.variable
  color #30AAAA

.token.selector, .token.important, .token.atrule, .token.keyword, .token.builtin
  color #30AAAA

.token.operator, .token.entity, .token.url
  color #30AAAA

div[class*="language-"]::before
  color #CCC

.token.property, .token.class-name, .token.constant, .token.symbol
  color #c59f49