$accentColor = #27B7B7

@tailwind preflight;
@tailwind components;
@tailwind utilities;

// general

a
  font-weight: 400 !important

body
  font-size 18px !important
  color #22292F !important

.content:not(.custom) > h2
  // padding-top 6.6rem !important
  padding-bottom 1rem

p, ul, ol
  line-height 1.5 !important
  margin-bottom 1.4rem

ul
  // margin-top -0.75rem

li
  margin 0.25rem 0

h4
  margin-bottom -1rem !importants

.site-name::after
  content "v0.1.0"
  opacity 0.4
  font-size 0.75rem
  padding-left 8px

.content:not(.custom)
  max-width 800px !important

.home
  max-width 1120px

.home .hero img
  margin 1.5rem auto 0.6rem
  max-height 240px

.home .hero h1
  margin 0.6rem auto
  font-size 2.6rem

.home .hero .description
  margin 0.6rem auto
  font-size 1.4rem

.home .hero .action
  margin 1.6rem auto 1.2rem

.home .hero .action-button
  // border-radius 0
  font-size 1.1rem
  border-radius 50px
  padding 10px 32px
  margin-bottom 1rem
  border-bottom none

.home .feature h2
  color #22292f

.home .feature p
  font-size 1.1rem
  color #3a5169

.home .hero .action-button:hover
  background-color #2C3E50

tr:nth-child(2n)
  background-color transparent !important

.sidebar-sub-headers
  border-left 1px solid #e0e0e0
  padding 0 0 !important
  margin-left 2.5rem !important
  margin-bottom .5rem !important

.sidebar-sub-header a
  padding-left 1.25rem !important


// custom blocks


.custom-block.tip
  border-color $accentColor
  border-width 0.2rem
  padding 0rem 1rem
  margin 2rem 0
  background-color transparent
  p
    margin-top 0.75rem
  // font-size 16px
  // max-width 600px

// .custom-block .custom-block-title
//   text-transform: uppercase

.video

.afterh2
  margin 12px 0 12px

// .h1-divider
//   border-bottom 7px solid $accentColor
//   margin 24px 0 32px
//   width 42px

// .content:not(.custom) > h1:first-child, .content:not(.custom) > h2:first-child, .content:not(.custom) > h3:first-child, .content:not(.custom) > h4:first-child, .content:not(.custom) > h5:first-child, .content:not(.custom) > h6:first-child
//   border-bottom 3px solid $accentColor
//   padding-bottom 24px

// custom

iframe .embed-nav
  box-shadow none

.jsfiddle-link
  text-align right
  font-size 14px
  margin-top -4px

.ghost-button
  display inline-block
  border 1px solid #27b7b7
  padding 8px 16px
  border-radius 3px
  margin-top 4px

.ghost-button:hover
  text-decoration none !important
  background-color #F8FDFC

.content code
  font-size 1rem
  padding 0
  color #697886
  background-color transparent


// code blocks

div.language-js.extra-class, div.language-html.extra-class, div.language-vue.extra-class, div.language-css.extra-class
  // background-color #F1F5F8
  background-color #ffffff
  border-left 1px solid #e0e0e0
  border-radius 0

div[class*="language-"] .highlight-lines .highlighted
  background-color: #f6f7f9

.content pre.language-js code, .content pre.language-html code, .content pre.language-vue code, .content pre.language-css code
  // color #000
  // color #333e44
  color #223946

.token.punctuation
  color #a4afbf

.token.boolean, .token.number, .token.function
  color #30AAAA

.token.tag
  // color #8795A1
  color #586e8a

.token.attr-name, .token.namespace, .token.deleted
  // color #8795A1
  color #4b8ee4
  // color #d877a7

.token.string, .token.char, .token.attr-value, .token.regex, .token.variable
  color #30AAAA

.token.selector, .token.important, .token.atrule, .token.keyword, .token.builtin
  color #30AAAA

.token.operator, .token.entity, .token.url
  color #30AAAA

.token.comment, .token.block-comment, .token.prolog, .token.doctype, .token.cdata
  // color #cc8699
  // color #cc8746
  // color #f39943
  // color #b371a7
  color #daa06a

div[class*="language-"]::before
  color #CCC

.token.property, .token.class-name, .token.constant, .token.symbol
  color #ea7b11